.nav {
  &__checkbox {
    display: none;
  }

  &__button {
    background-color: white;
    width: 4.7rem;
    height: 4.7rem;
    text-align: center;
    position: fixed;
    top: 4rem;
    right: 4rem;
    border-radius: 50%;
    box-shadow: 0 0.6rem 1.2rem rgb(black, 0.1);
    z-index: 200;
    cursor: pointer;

    @include respond(tab-port) {
      top: 2rem;
      right: 2rem;
    }

    @include respond(phone) {
      top: 1rem;
      right: 1.5rem;
    }
  }

  &__background {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    position: fixed;
    top: 4.3rem;
    right: 4.3rem;
    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );
    transition: scale 0.8s cubic-bezier(0.83, 0, 0.17, 1);
    z-index: 100;

    @include respond(tab-port) {
      top: 2.5rem;
      right: 2.5rem;
    }

    @include respond(phone) {
      top: 1.5rem;
      right: 2rem;
    }
  }

  &__nav {
    width: 0%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 150;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.9, 0.03, 0.15, 1.21);
  }

  &__list {
    width: 100%;
    @include absCenter;
    list-style: none;
    text-align: center;
  }

  &__item {
    margin: 0.6rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 2rem;
      font-weight: 300;
      padding: 0.6rem 1.2rem;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        white 50%
      );
      background-size: 230%;
      transition: all 0.4s;

      span {
        margin-right: 0.9rem;
        display: inline-block;
      }
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(0.4rem);
    }
  }

  //FUNCTIONALITY
  &__checkbox:checked ~ &__background {
    scale: 80;
  }

  &__checkbox:checked ~ &__nav {
    width: 100%;
    opacity: 1;
  }

  //ICON
  &__icon {
    position: relative;
    margin-top: 2.3rem;

    &,
    &:before,
    &:after {
      display: inline-block;
      width: 2rem;
      height: 2px;
      background-color: $color-grey-dark-3;
      transition: all 0.2s;
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
    }

    &:before {
      top: -0.6rem;
    }

    &:after {
      top: 0.6rem;
    }
  }

  &__button:hover &__icon:before {
    transform: translateY(-0.1rem);
  }

  &__button:hover &__icon:after {
    transform: translateY(0.1rem);
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
