@keyframes slideInLeft {
  0% {
    transform: translate(-100px);
    opacity: 0;
  }

  80% {
    transform: translate(10px);
    opacity: 1;
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translate(100px);
    opacity: 0;
  }

  80% {
    transform: translate(-10px);
    opacity: 1;
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes slideInBottom {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
